@import "variables";

// General
.btn {
  border-radius: 6px;
}

// Header
.d-header {
  border-bottom: 1px solid #e5e7eb;
  box-shadow: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .8);
}

.list-controls .btn .d-button-label {
  font-size: 16px;
  font-weight: 600;
}

.navigation-controls .btn#create-topic {
 color: var(--secondary);
 background-color: var(--tertiary);
}

.btn#create-topic .d-icon {
  color: var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.category-list td:first-of-type {
  padding-left: 10px;
}

.list-cell, .table-heading, .category-list td, .category-list th {
  padding: 16px;
}

.category-list td:first-of-type {
  padding-left: 18px;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
  padding: 16px;
}

.topic-list-icons a.title, .latest-topic-list a.title, .top-topic-list a.title, .topic-list a.title {
  font-family: var(--heading-font-family);
  font-weight: 500;
}

.navigation-controls .btn {
  padding: 10px 16px;
}

.d-header-icons .d-icon {
  font-size: var(--font-up-2);
}

.nav-pills > li a.active {
  color: var(--secondary);
  background-color: var(--quaternary);
}

.nav-pills>li>a {
  font-size: 16px;
}