@import "variables";

// General
.btn {
  border-radius: 6px;
}

// Header
.d-header {
  border-bottom: 1px solid #e5e7eb;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.category-list td:first-of-type {
  padding-left: 10px;
}

.list-cell, .table-heading, .category-list td, .category-list th {
  padding: 16px;
}

.category-list td:first-of-type {
  padding-left: 18px;
}

.topic-list-icons a.title, .latest-topic-list a.title, .top-topic-list a.title, .topic-list a.title {
  font-family: var(--heading-font-family);
  font-weight: 500;
}